<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kozinkaihatsu.app.repository.common.FlowerColorMapper">

    <select id="selectAllFlowerColor" resultType="com.kozinkaihatsu.app.Record.FlowerColorRecord">
        SELECT
            color_id AS colorId,
            color_name AS colorName
        FROM
            kozinkaihatsu.flower_color;
    </select>

    <select id="selectMaxColorId" resultType="int">
    SELECT COALESCE(MAX(color_id), 0) FROM kozinkaihatsu.flower_color
    </select>

    <select id="selectIdByName" parameterType="string" resultType="int">
    SELECT color_id
    FROM kozinkaihatsu.flower_color
    WHERE color_name = #{colorName}
    </select>

    <insert id="insertFlowerColor" parameterType="com.kozinkaihatsu.app.Record.FlowerColorRecord">
        INSERT INTO kozinkaihatsu.flower_color (color_id, color_name)
        VALUES (#{colorId}, #{colorName})
    </insert>
</mapper>