<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kozinkaihatsu.app.repository.view.FlowersListMapper">
 <!-- 全件取得 -->
    <select id="selectAllFlowersList"
            resultType="com.kozinkaihatsu.app.Record.FlowersListRecord">
        SELECT
            *
        FROM
            kozinkaihatsu.flower_list
    </select>

    <!-- 条件付き検索 -->
    <select id="selectSearchList"
            parameterType="com.kozinkaihatsu.app.Form.FlowerSearchForm"
            resultType="com.kozinkaihatsu.app.Record.FlowersListRecord">
        SELECT
            *
        FROM
            kozinkaihatsu.flower_list
        <where>
            <if test="form.color != null and form.color != ''">
                AND color_id = #{form.color}
            </if>
        </where>
    </select>

</mapper>