<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kozinkaihatsu.app.repository.kozinkaihatsu.FlowerColorMapper">
    <select id="selectAllFlowerColor" resultType="com.kozinkaihatsu.app.Record.FlowerColorRecord">
SELECT
    color_id,
    color_name
FROM
    kozinkaihatsu.flower_color;
    </select>
</mapper>