<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>花検索</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div th:replace="~{search:: search}"></div>

    <!-- モーダル本体 -->
<div id="flowerModal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <h2 id="modalName"></h2>
      <img id="modalImage" src="" alt="" />
      <p id="modalLanguages"></p>
      <p id="modalBloom"></p>
  </div>
</div>


    <div th:replace="~{result :: result}"></div>
    <script th:src="@{/js/index.js}"></script>
    <script src="/js/flowerModal.js"></script> <!-- モーダル用JSを別ファイルに -->

</body>
</html>
