<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout ::base('search',~{::title},~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>花検索</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:fragment="search">
        <header>
            <div class="header-top">検索</div>
        </header>
        <form th:action="@{/}" th:object="${flowerSearchForm}" method="post">

            <!-- 色 -->
            <div class="list-and-name">
                <label th:for="*{color}">色</label>
                <div class="pulldown-wrapper">
                    <select id="color" th:field="*{selectedColor}">
                        <option value="">選択してください</option>
                        <option th:each="color : ${flowerSearchFormDTO.flowerColorRecords}"
                                th:value="${color.colorId}"
                                th:text="${color.colorName}">
                        </option>
                    </select>
                </div>
            </div>
    
            <!-- 名称 -->
            <div class="list-and-name">
                <label th:for="*{selectFlowerName}">名称</label>
                <div class="pulldown-wrapper">
                    <select id="selectFlowerName" th:field="*{selectedFlowerName}">
                        <option value="">選択してください</option>
                        <option th:each="flowerName : ${flowerSearchFormDTO.flowerNameRecords}"
                                th:value="${flowerName.flowerNameId}"
                                th:text="${flowerName.flowerName}">
                        </option>
                    </select>
                </div>
            </div>
            <!-- 花言葉 -->
            <div class="list-and-name">
                <label th:for="*{selectFlowerLanguage}">花言葉</label>
                <div class="pulldown-wrapper">
                    <select id="selectFlowerLanguage" th:field="*{selectedFlowerLanguage}">
                        <option value="">選択してください</option>
                        <option th:each="flowerLanguage : ${flowerSearchFormDTO.flowerLanguageRecords}"
                                th:value="${flowerLanguage.languageId}"
                                th:text="${flowerLanguage.language}">
                        </option>
                    </select>
                </div>
            </div>
            <!-- 開花開始 -->
            <div class="list-and-name">
                <label th:for="*{startMonth}">開花開始月</label>
                <div class="pulldown-wrapper">
                    <select id="startMonth" th:field="*{selectedStartMonth}">
                        <option value="">選択してください</option>
                        <option th:each="startMonth : ${flowerSearchFormDTO.startMonthRecords}"
                                th:value="${startMonth.startMonth}"
                                th:text="${startMonth.startMonth}">
                        </option>
                    </select>
                </div>
            </div>
            <!-- 開花終了 -->
            <div class="list-and-name">
                <label th:for="*{endMonth}">開花終了月</label>
                <div class="pulldown-wrapper">
                    <select id="endMonth" th:field="*{selectedEndMonth}">
                        <option value="">選択してください</option>
                        <option th:each="endMonth : ${flowerSearchFormDTO.endMonthRecords}"
                                th:value="${endMonth.endMonth}"
                                th:text="${endMonth.endMonth}">
                        </option>
                    </select>
                </div>
            </div>
    
            <!-- 検索ボタン -->
            <div>
                <button type="submit" id="searchBtn">検索</button>
            </div>
        </form>
</div>

</body>
</html>