<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout ::base('search',~{::title},~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>花検索</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:fragment="search">
        <header>
            <div class="header-top">検索</div>
        </header>
        <form id="flowerSearchForm" th:action="@{/}" th:object="${flowerSearchForm}" method="post">

            <!-- 色 -->
            <div class="list-and-name">
                <label th:for="*{color}">色</label>
                <div class="pulldown-wrapper">
                    <select id="color" th:field="*{color}">
                        <option value="">選択してください</option>
                        <option th:each="color : ${flowerSearchFormDTO.flowerColorRecords}"
                                th:value="${color.colorId}"
                                th:text="${color.colorName}">
                        </option>
                    </select>
                </div>
            </div>
    
            <!-- 名称 -->
            <div class="list-and-name">
                <label th:for="*{selectName}">名称</label>
                <div class="pulldown-wrapper">
                    <select id="selectName" th:field="*{selectName}">
                        <option value="">選択してください</option>
                        <option th:each="flowerName : ${flowerSearchFormDTO.flowerNameRecords}"
                                th:value="${flowerName.flowerNameId}"
                                th:text="${flowerName.flowerName}">
                        </option>
                    </select>
                </div>
            </div>
            <!-- 花言葉 -->
            <div class="list-and-name">
                <label th:for="*{languageForm}">花言葉</label>
                    <input type="text" id="languageForm"
                           th:field="*{languageForm}"
                           placeholder="花言葉を入力してください"/>
            </div>

            <!-- 開花開始 -->
            <div class="list-and-name">
                <label th:for="*{startMonth}">開花開始月</label>
                <div class="pulldown-wrapper">
                    <select id="startMonth" th:field="*{startMonth}">
                        <option value="">選択してください</option>
                        <option th:each="month : ${flowerSearchFormDTO.startMonths}"
                                th:value="${month}"
                                th:text="${month}">
                        </option>
                    </select>
                </div>
            </div>
            
            <!-- 開花終了 -->
            <div class="list-and-name">
                <label th:for="*{endMonth}">開花終了月</label>
                <div class="pulldown-wrapper">
                    <select id="endMonth" th:field="*{endMonth}">
                        <option value="">選択してください</option>
                        <option th:each="month : ${flowerSearchFormDTO.endMonths}"
                                th:value="${month}"
                                th:text="${month}">
                        </option>
                    </select>
                </div>
            </div>
    
            <!-- ボタン -->
            <div>
                <button type="button" id="clearbutton">クリア</button>
                <button type="submit" id="searchBtn">検索</button>
            </div>
        </form>
</div>

</body>
</html>